$main: #55cbd3;
$secondary: #c7dac7;
$third: #ffb68c;
$fourth: #fe8e7b;
$fifth: #ff6787;

$dark-grey: #333;
$white: #ffffff;
$light-grey: #bbbbbb;

$blue-grey: #5d6578;
$navy: #2f3c53;

$green: #47e7b1;
$green-secondary: #49f6d1;

$teal: #29afce;
$teal-secondary: #24cffd;

$purple: #6a6acb;
$purple-secondary: #a17bfc;

$gold: #fdb82c;
$gold-secondary: #fed130;

$coral: #f9646e;
$coral-secondary: #fd6f93;
